@{
    ViewData["Title"] = "İletişim";
}

<div class="row justify-content-center py-5">
    <div class="col-md-6">
        <div class="card card-dark shadow-lg p-5">

            <h2 class="text-center mb-4 fw-bold">BİZİMLE İLETİŞİME GEÇİN</h2>
            <p class="text-center text-secondary mb-4">Proje hakkında soru veya önerileriniz mi var?</p>

            <form>
                <div class="mb-3">
                    <label class="form-label text-secondary">Adınız Soyadınız</label>
                    <input type="text" class="form-control form-control-dark py-3" placeholder="Örn: Samet Uçar">
                </div>

                <div class="mb-3">
                    <label class="form-label text-secondary">E-posta Adresiniz</label>
                    <input type="email" class="form-control form-control-dark py-3" placeholder="isim@ornek.com">
                </div>

                <div class="mb-3">
                    <label class="form-label text-secondary">Mesajınız</label>
                    <textarea class="form-control form-control-dark" rows="5" placeholder="Bir şeyler yazın..."></textarea>
                </div>

                <button type="submit" class="btn btn-netflix w-100 py-3 mt-2">
                    GÖNDER
                </button>
            </form>
        </div>
    </div>
</div>