/* site.css - Modern Tasarım Kodları */
body {
    background-color: #f8f9fa; /* Hafif gri arka plan */
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* Film Kartları için Efektler */
.movie-card {
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    border: none;
    border-radius: 15px;
    overflow: hidden;
    background: white;
}

    /* Üzerine gelince büyüme efekti (Artislik Kısım) */
    .movie-card:hover {
        transform: translateY(-10px); /* Yukarı doğru kalkar */
        box-shadow: 0 15px 30px rgba(0,0,0,0.2); /* Gölge artar */
        cursor: pointer;
    }

/* Navbar Düzenlemesi */
.navbar {
/*background: linear-gradient(90deg, #1a2a6c, #b21f1f, #fdbb2d) !important; */
}

/* Detay Sayfası Başlıkları */
.detail-header {
    border-left: 5px solid #b21f1f;
    padding-left: 15px;
    color: #333;
}
    